[Unit]
Description=Hass.io supervisor
Requires=docker.service hassio-hc.service
Wants=hassio-hc.service
After=docker.service hassio-hc.service

[Service]
Type=simple
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker stop hassio_supervisor
ExecStart=/usr/sbin/hassio-supervisor
ExecStop=-/usr/bin/docker stop hassio_supervisor

[Install]
WantedBy=multi-user.target
